/* HomePageView.css */

.link-green {
    color: green;
    font-family: Arial, sans-serif;
    font-size: 25px;
  }
  
  .link-pink {
    color: lightblue;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
  }